/* .page{
    background-color: rgb(39,39,39);
} */
.header{
    background-color: rgb(39,39,39);
}
.main-menu{
    text-transform: uppercase;
    display:flex;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
}
.menu-item__active{
    text-decoration: none;
    color: #ff9601;
}
.menu-item{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 15px 11.6px;
    display: block;
    font-size: 16px;
    white-space: nowrap;
}
:hover{
    color : #ff9601; 
    cursor: pointer; 
}
.container{
    display: flex;
    justify-content: space-around;
    list-style: none;
}